body{
    font-family: monospace;
}

.main .logo{
    text-align: left;
    color: #e46c44;
    font-size: xx-large;
}

.ContactUs{
    text-align: center;
}

a{
    text-decoration: none;
    color: #3c67a8;
}

form{
    font-size: large;
}

h1{
    color: #583442;
    font-size: 250%;
}

.back-to-Group{
    text-decoration: none;
    color: #3c67a8;
}

.Description{
    padding: auto;
}

textarea{
    background-color: #ffffffd6;
    border-color: #23c9cd;
    border-style: hidden;
    border-width: 0.5cap;
    box-shadow: -10px -10px 20px #cd722318;
}

.Back{
    background-color: #e48944;
    color: #fcfeff;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 5px;
    min-height: 15px;
    margin-right: 60px;
    font-size: 17px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #583442;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}
ul li a:hover{
    background-color: #b1eaeb8d;
    color: #583442;
    border-radius: 8px;
}

footer{
    background-color: #e48944;
    color: #fcfeff;
    text-align: center;
    padding: 10px 0px;
}