<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Inbox_post.css">
    <title>AcadmiNet</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="main">
        <h3 class="logo">AcadmiNet</h3>
        <div class="navbar"> <!--בר משימות ראשי-->
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Rights and Benefits</a></li>
                <li><a href="Forum.html" class="back-to-forum">Forum</a></li>
                <li><a href="StudyGroups.html" class="study-group">Study Groups</a></li><!--יופיע רק בדף זה-->
                <li><a href="">About us</a></li>
                <li><a href="ContactUs.html">Contact us</a></li>
            </ul>
        </div>
    </div>
    <br> <br>
    <div class="Inbox-title">
        <h3>Inbox</h3>
    </div>
    <br>
    <div class="posts">
        <b><a href="#" class="link">title</a></b><br>
        <b><a href="" class="link">From:</a></b> <!--שולח התשובה-->
        <small><a href="#" class="link">date</a></small><br>
        <em><a href="">subject:</a></em> 
        <p>Text here</p> <!--מלל ההודעה-->
    </div>
    <footer>
        <p class="rights">all rights goes to AcadmiNet&copy;</p>
        <a href="Inbox.html" class="Back">Back</a> <!--כפתור חזור לדף קודם-->
    </footer>
</body>
</html>