<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ContactUs.css">
    <title>AcadmiNet</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="main">
        <h3 class="logo">AcadmiNet</h3>
        <div class="navbar"> <!--בר משימות ראשי-->
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Rights and Benefits</a></li>
                <li><a href="Forum.html" class="back-to-forum">Forum</a></li>
                <li><a href="">About us</a></li>
                <li><a href="ContactUs.html">Contact us</a></li>
            </ul>
        </div>
    </div> <br> <br>
<div class="SendReview">
    <h3>Send a Review:</h3>
    <form action="" target="_self"> <!--קישור לבסיס נתונים-->
        <label for="ReviewStar">Choose Rating:</label> <!--דירוג האתר-->
        <select name="Rate" id="Rate">
            <option value="" disabled selected>---</option>
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
            <option value="five">5</option>
        </select>
        <br><br>
        <label for="Description" class="Description">Description:</label><br>
        <textarea name="Description" id="Description" cols="50" rows="10" placeholder="Start typing..."></textarea>
        <br><br>
        <label for="file"><i class='bx bx-upload'></i></label> <!--העלאת קובץ-->
        <input type="file" name="file" id="file" accept=".pdf, .doc, .docx, .txt"> <!--לנסות לאפשר העלאת תמונה-->
        <br><br>
        <input type="submit" value="Create">
    </form>
</div>
</div> <br>
<footer>
    <p class="rights">all rights goes to AcadmiNet&copy;</p>
    <a href="" class="Back">Back</a><!--קישור לדף ראשי-->
</footer>
</body>
</html>