<!-- בקובץ ה־HTML של תבנית הממשק האדמין של Django -->
{% extends 'admin/base.html' %}

{% block extrahead %}
{{ block.super }}
<script src="https://d3js.org/d3.v7.min.js"></script> <!-- קישור לספריית D3.js -->
<script>
    // קוד JavaScript עבור יצירת הגרף
    document.addEventListener("DOMContentLoaded", function() {
        // נתוני הגרף
        const data = [10, 20, 30, 40, 50];

        // יצירת סולם מדידה לגרף
        const scale = d3.scaleLinear()
            .domain([0, d3.max(data)]) // קביעת תחום הערכים של הנתונים
            .range([0, 300]); // קביעת תחום ההצגה בגרף

        // יצירת מחולל עיגון
        const axis = d3.axisLeft(scale);

        // הוספת הסולם ל־SVG
        d3.select("#graph-container")
            .append("g")
            .attr("transform", "translate(50,10)")
            .call(axis);

        // הוספת עמודות ל־SVG
        d3.select("#graph-container")
            .selectAll("rect")
            .data(data)
            .enter()
            .append("rect")
            .attr("x", (d, i) => i * 70)
            .attr("y", (d) => 300 - scale(d))
            .attr("width", 50)
            .attr("height", (d) => scale(d))
            .attr("fill", "teal");
    });
</script>
{% endblock %}

{% block content %}
<!-- האלמנט שבו יוצג הגרף -->
<div id="graph-container"></div>
{% endblock %}
