<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="stylesheet" href="{% static 'inbox.css' %}">
    <title>AcadmiNet</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="main">
        <h3 class="logo">AcadmiNet</h3>
        <div class="navbar"> <!--בר משימות ראשי-->
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Rights and Benefits</a></li>
                <li><a href="Forum.html" class="back-to-forum">Forum</a></li>
                <li><a href="StudyGroups.html" class="study-group">Study Groups</a></li><!--יופיע רק בדף זה-->
                <li><a href="">About us</a></li>
                <li><a href="ContactUs.html">Contact us</a></li>
            </ul>
        </div>
    </div>
    <br> <br>
    <div class="Inbox-title">
        <h3>Student Inbox</h3>
    </div>
    <div class="info">
        <div class="info-title"><h4>General info:</h4></div>
        <div class="Inbox-info">
            <p>Welcome to the Inbox page!<br>In here you can see all the messages you received.</p>
        </div>
        <br>
    </div>
    <br> <br>

    <!-- <div class="upload-question"><a href="question_page.html">Add Post<i class='bx bx-plus' style="font-size: small;"></i></a></div> -->
{% if messages %}
    {% for message in messages %}
                {% if message.receiver == user %}
                    <div class="posts">
                            <a href="{% url 'inbox_post2' message.pk %}">
                                {{ message.subject }}</a>         
                            {% if message.sender.is_superuser %}
                                <p>From: Admin</p>
                            {% else %}
                                <p>From: {{ message.sender }}</p>
                            {% endif %}
                        {% endif %}
                    </div>  
        {% endfor %}
    {% else %}
        <h3>No messages found.</h3>
    {% endif %}



<!-- 
        <b><a href="#" class="link">Post title</a> by <a href="#">UserName</a></b>
        <small><a href="#" class="link">date</a></small><br>
        <em><a href="#">divison</a> <a href="">subject</a></em> 
        <p>Text here</p>
        <a href="Post.html" class="link">Read more...</a>
    </div>
    <div class="posts">
        <b><a href="#" class="link">Post title</a> by <a href="#">UserName</a></b>
        <small><a href="#" class="link">date</a></small><br>
        <em><a href="#">divison</a> <a href="">subject</a></em> 
        <p>Text here</p>
        <a href="Post.html" class="link">Read more...</a>
    </div>
    <div class="posts">
        <b><a href="#" class="link">Post title</a> by <a href="#">UserName</a></b>
        <small><a href="#" class="link">date</a></small><br>
        <em><a href="#">divison</a> <a href="">subject</a></em> 
        <p>Text here</p>
        <a href="Post.html" class="link">Read more...</a>
    </div>
    <div class="posts">
        <b><a href="#" class="link">Post title</a> by <a href="#">UserName</a></b>
        <small><a href="#" class="link">date</a></small><br>
        <em><a href="#">divison</a> <a href="">subject</a></em> 
        <p>Text here</p>
        <a href="Post.html" class="link">Read more...</a>
    </div>
    <div class="posts">
        <b><a href="#" class="link">Post title</a> by <a href="#">UserName</a></b>
        <small><a href="#" class="link">date</a></small><br>
        <em><a href="#">divison</a> <a href="">subject</a></em> 
        <p>Text here</p>
        <a href="Post.html" class="link">Read more...</a>
    </div>-->
    <footer>
        <p class="rights">all rights goes to AcadmiNet&copy;</p>
        <a href="#" class="Back">Back</a> <!--לקשר למסך ראש-->
    </footer> 
</body>
</html>