<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="stylesheet" href="{% static 'New_group.css' %}">
    <title>AcadmiNet</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="main">
        <h3 class="logo">AcadmiNet</h3>
        <div class="navbar"> <!--בר משימות ראשי-->
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Rights and Benefits</a></li>
                <li><a href="Forum.html" class="back-to-forum">Forum</a></li>
                <li><a href="">About us</a></li>
                <li><a href="ContactUs.html">Contact us</a></li>
            </ul>
        </div>
    </div> <br> <br>
    <div class="question">
        <h1>Open New Group</h1>
        <h2>Create a Study Group</h2>
        <form method="post" action="{% url 'create_group' %}"> 
            {% csrf_token %}
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" placeholder="....">
            <br><br>
            <label for="divison">Choose division:</label>
            <select name="division" id="division"> 
                <option value="" disabled selected>---</option>
                <option value="Software Engineering">Software Engineering</option> 
                <option value="Mechanical Engineering">Mechanical Engineering</option>
                <option value="Electrical Engineering">Electrical Engineering</option>
                <option value="Architecture">Architecture</option>
                <option value="Structural Engineering">Structural Engineering</option>
                <option value="Industrial Engineering">Industrial Engineering</option>
                <option value="Computer science">Computer science</option>
                <option value="Chemical Engineering">Chemical Engineering</option>
            </select>
            <label for="amount">Choose Group Size:</label> 
            <select name="group_size" id="amount">
                <option value="" disabled selected>Limit</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
            <br><br>
            <label for="description" class="Description">Description:</label><br>
            <textarea name="description" id="description" cols="50" rows="10" placeholder="Start typing..."></textarea> <!-- Correct the id attribute to "description" -->
            <br><br>
            <input type="submit" value="Create">
        </form>
    </div>
    </div> <br>
    <footer>
        <p class="rights">all rights goes to AcadmiNet&copy;</p>
        <a href="StudyGroups.html" class="Back">Back</a>
    </footer>
</body>
</html>