<!-- notifactions.html -->
{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}
    <a href="#" id="notifications-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Notifications
        <span class="badge badge-danger">{{ user.notifications.unread.count }}</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="notifications-dropdown">
        {% for notification in user.notifications.unread %}
            <a class="dropdown-item" href="#">{{ notification.message }}</a>
        {% endfor %}
    </div>
{% endif %}
