<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="stylesheet" href="{% static 'question_page.css' %}">
    <title>AcadmiNet</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="main">
        <h3 class="logo">AcadmiNet</h3>
        <div class="navbar"> <!--בר משימות ראשי-->
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Rights and Benefits</a></li>
                <li><a href="Forum.html" class="back-to-forum">Forum</a></li>
                <li><a href="">About us</a></li>
                <li><a href="ContactUs.html">Contact us</a></li>
            </ul>
        </div>
    </div> <br> <br>
    <div class="question">
        <h1>Upload Question</h1>
        <form method="post" action="{% url 'add_post' %}" enctype="multipart/form-data"> <!--קישור לבסיס נתונים-->
           {% csrf_token %}
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" placeholder="...."> <!--כותרת השאלה-->
            <br><br>
            <label for="divison">Choose divison:</label> <!--בחירת מחלקה-->
            <select name="divison" id="divison">
                <option value="" disabled selected>---</option>
                <option value="Software Engineering">Software Engineering</option> 
                <option value="Mechanical Engineering">Mechanical Engineering</option>
                <option value="Electrical Engineering">Electrical Engineering</option>
                <option value="Architecture">Architecture</option>
                <option value="Structural Engineering">Structural Engineering</option>
                <option value="Industrial Engineering">Industrial Engineering</option>
                <option value="Computer science">Computer science</option>
                <option value="Chemical Engineering">Chemical Engineering</option>
            </select>
            <br><br>
            <label for="topic">Choose Topic:</label> <!--בחירת נושא-->
            <select name="topic" id="topic"> <!--נושא הפוסט-->
                <option value="" disabled selected>---</option>
                <option value="Summaries">Summaries</option>
                <option value="help">Help in courses</option>
            </select>
            <br> <br>
            <input type="checkbox" name="anonymous"> <!--העלאת שאלה אנונימית-->
            <label for="anonymous">Anonymous question</label>
            <br><br>
            <textarea name="content" id="question" cols="45" rows="15" placeholder="Start typing..."></textarea>
            <br><br>
            <label for="file"><i class='bx bx-upload'></i></label> <!--העלאת קובץ-->
            <input type="file" name="file" id="file" accept=".pdf, .doc, .docx, .txt">
            <br><br>
            <input type="submit" value="Send">
        </form>
    </div> <br>
    <footer>
        <p class="rights">all rights goes to AcadmiNet&copy;</p>
        <a href="Forum.html" class="Back">Back</a> <!--חזרה לדף פורום-->
    </footer>
</body>
</html>