<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'reserverights.css' %}">
</head>
<body>
    <header>
        <h1>Rights and benefits for reservists</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#rights-intro">introduction</a></li>
            <li><a href="#rights-list">List of rights</a></li>
            <li><a href="#latest-updates">Latest updates</a></li>
        </ul>
    </nav>

    <section id="rights-intro">
        <h2>introduction</h2>
        <p>Here you can find information about rights and benefits for reservists.</p>
    </section>

    <section id="rights-list">
        <h2>List of rights</h2>
        <ul>
            <li>Preferred rights</li> 
            <section id="workshops">
                <h2>Preferred rights</h2>
                {% for post in post_list %}
                    {% if post.reserve_choices == "Preferred rights" %}
                        <h3>Title: {{ post.title }}</h3>
                        <p>Description {{ post.content }}</p>
                        <a href="{% if post.slug %}{% url 'post_detail' post.slug %}{% endif %}" class="btn btn-primary">Read More</a>
                        <br><br>
                        {% if request.user.editor %}<!-- Checking if the User made thy post, so it can edit it -->  
                            <a href="{% url 'request_removal' post_id=post.id %}">Request removal of the post</a><br><br>    
                            <a href="{% url 'update_post' post.slug %}">Edit</a>
                        {% endif %}
                        {% if request.user.is_superuser %}
                            <form action="{% url 'remove_post' post_id=post.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Remove</button>
                            </form>
                        {% endif %}
                    {% endif %}    
                {%endfor%}
    
            </section>  
            <li>Protection from dismissal</li>
            <li>rates</li>
        </ul>
    </section>

    <section id="latest-updates">
        <h2>Latest updates</h2>
        <article>
            <h3>The reserve address is being upgraded</h3>
            <p>On April 1, 2024, an upgrade to the reserve will take place. Follow the details for all the information.</p>
        </article>
        <!-- ועוד עדכונים... -->
    </section>

    <footer>
        <p>&copy; 2024 זכויות והטבות לאנשי מילואים</p>
        <a href="rights.html" class="back-button">back</a>
    </footer>
    
</body>
</html>