<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AcadmiNet</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'Scholarships.css' %}">
</head>
<body>
    <header>
        <h1>Student benefits</h1>
    </header>

    <nav>
        <ul>
            <li><a href="Events.html">Events</a></li>
            <li><a href="Workshops.html">Workshops</a></li>
            <li><a href="Scholarships.html">Scholarships</a></li>
        </ul>
    </nav>

    <section id="info">
        <h2>Scholarships</h2>
        <p>In here you will find a variety of scholarships avalible for students.</p> <!--מידע על אתר הטבות-->
    </section>

    <section id="Event">
        <h2>Title</h2> <!--כותרת המלגה--> 
        <p>info</p>
        <a href="" class="button-registration">Register</a> <!--קישור לדף הרשמה למלגה-->
    </section>

    <section id="Event">
        <h2>Title</h2> <!--כותרת המלגה--> 
        <p>info</p>
        <a href="" class="button-registration">Register</a> <!--קישור לדף הרשמה למלגה-->
    </section>
    
    <section id="Event">
        <h2>Title</h2> <!--כותרת המלגה-->  
        <p>info</p>
        <a href="" class="button-registration">Register</a> <!--קישור לדף הרשמה למלגה-->
    </section>
    
    <section id="Event">
        <h2>Title</h2> <!--כותרת המלגה-->  
        <p>info</p>
        <a href="" class="button-registration">Register</a> <!--קישור לדף הרשמה למלגה-->
    </section>

    <footer>
        <p>&copy; 2024 הטבות לסטודנטים</p>
        <a href="rights.html" class="back-button">back</a> <!--חזרה לדף זכויות והטבות-->
    </footer> 
</body>
</html>